{% extends "pages/base.html" %}
{% block titulo %}Polinomios Newton{% endblock %}

{% block contenido %}
<div class="container">
    <div class="row">
        <div class="m-3">
            
            <h5>Encuentra el Precio óptimo que los clientes hayan tenido una mejor satisfacción</h5>
            <p>Utiliza nuestra herramienta de interpolación para identificar el precio óptimo que maximiza la satisfacción de tus clientes, este algoritmo se basa en los datos que importes al sistema.</p>
           
            <div class="mb-3">
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalAgregar">
                    Agregar Clientes
                </button>
                <a href="{% url 'SavePolinomioNewton' %}" class="btn btn-primary ml-2">Realizar Análisis de datos</a>
               
                {% if plot_image %}
                <button type="button" class="btn btn-success" data-toggle="modal" data-target="#modalRequest">
                    Ver Resultados Análisis 
                </button>
                {% endif %}
            </div>

            
            <div class="form-group col-md-6">
                <label for="producto">Nombre del producto:</label>
                <input type="text" class="form-control" id="producto" name="producto">
            </div>
            
            <h3 class="mb-4"><strong>Calificaciones</strong></h3>
            <table id="clientesTable" class="display">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Cliente</th>
                        <th>Precio</th>
                        <th>Nivel de Satisfacción</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% if lista_cliente %}
                        {% for cliente in lista_cliente %}
                            <tr>
                                <td>{{ cliente.id }}</td>
                                <td>{{ cliente.nombre_cliente }}</td>
                                <td>{{ cliente.precio }}</td>
                                <td>{{ cliente.satisfaccion_cliente }}</td>
                                <td>
                                    <button 
                                        type="button" 
                                        class="btn btn-success" 
                                        data-toggle="modal" 
                                        data-target="#modalEditar{{ cliente.id }}" 
                                        data-id="{{ cliente.id }}" 
                                        data-nombre="{{ cliente.nombre_cliente }}" 
                                        data-precio="{{ cliente.precio }}" 
                                        data-satisfaccion="{{ cliente.satisfaccion_cliente }}"
                                    >
                                        Detalle
                                    </button>
                                </td>
                            </tr>
                        {% endfor %}
                    {% else %}
                        <tr>
                            <td colspan="6">No hay datos disponibles.</td>
                        </tr>
                    {% endif %}
                </tbody>
            </table>
        </div>
    </div>
</div>

<!-- Modal Editar Cliente -->
{% for cliente in lista_cliente %}
<div id="modalEditar{{ cliente.id }}" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header bg-light">
                <h5 class="modal-title" style="color: black;">Editar Cliente</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" style="color: black;">
                <form method="POST">
                    {% csrf_token %}
                    <input type="hidden" id="editId{{ cliente.id }}" name="editId">
                    
                    <div class="form-group">
                        <label for="editPrecio{{ cliente.id }}">Precios Ofrecidos:</label>
                        <input type="text" id="editPrecio{{ cliente.id }}" name="Precio" class="form-control" placeholder="10.1" required>
                        <small class="form-text text-muted">Introduce los precios de los que estás interesado.</small>
                    </div>

                    <div class="form-group">
                        <label for="editSatisfaccion{{ cliente.id }}">Satisfacción del Cliente en cada Precio:</label>
                        <input type="text" id="editSatisfaccion{{ cliente.id }}" name="Satisfaccion" class="form-control" placeholder="5.1" required>
                        <small class="form-text text-muted">Introduce el nivel de satisfacción del cliente correspondiente a cada precio.</small>
                    </div>

                    <div class="form-group">
                        <label for="editNombreCliente{{ cliente.id }}">Nombre del Cliente Asociado:</label>
                        <input type="text" id="editNombreCliente{{ cliente.id }}" name="NombreCliente" class="form-control" placeholder="Nombre" required>
                        <small class="form-text text-muted">Introduce el nombre del cliente.</small>
                    </div>
                    <button type="submit" class="btn btn-primary">Actualizar Cliente</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endfor %}

<!-- Modal Agregar Cliente -->
<div id="modalAgregar" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header bg-light">
                <h5 class="modal-title" style="color: black;">Agregar Cliente</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" style="color: black;">
                <form method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="nombreCliente">Nombre del Cliente:</label>
                        <input type="text" id="nombreCliente" name="nombre_cliente" class="form-control" placeholder="Nombre del Cliente" required>
                    </div>
                    <div class="form-group">
                        <label for="precio">Precio:</label>
                        <input type="number" step="0.01" id="precio" name="precio" class="form-control" placeholder="Precio" required>
                    </div>
                    <div class="form-group">
                        <label for="satisfaccionCliente">Satisfacción del Cliente:</label>
                        <input type="number" step="0.1" id="satisfaccionCliente" name="satisfaccion_cliente" class="form-control" placeholder="Satisfacción del Cliente" required>
                    </div>
                    <button type="submit" class="btn btn-primary">Agregar Cliente</button>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Modal Ver Resultados Análisis -->
<div id="modalRequest" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document"> <!-- Aumenta el tamaño del modal -->
        <div class="modal-content">
            <div class="modal-header bg-light">
                <h5 class="modal-title" style="color: black; font-size: 1.5rem;">Análisis</h5> <!-- Tamaño de fuente mayor -->
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" style="color: black; font-size: 1.1rem;">
                <div class="detalle-analisis">
                    <details>
                        <summary style="font-size: 1.3rem; font-weight: bold;">Gráfica</summary> <!-- Tamaño de fuente mayor -->
                        <div class="mt-4">
                            <h3 style="font-size: 1.5rem;">Gráfica de Interpolación de Newton</h3> <!-- Tamaño de fuente mayor -->
                            <img src="{{ plot_image }}" alt="Gráfica de Interpolación de Newton" style="width: 100%; max-width: 800px; height: auto;"> <!-- Imagen más grande -->
                            <a href="{{ plot_image }}" download="interpolacion_newton.png" class="btn btn-primary mt-3">Descargar Imagen</a> <!-- Botón para descargar -->
                        </div>
                    </details>
                    <br>
                    <details>
                        <summary style="font-size: 1.3rem; font-weight: bold;">Proceso</summary> <!-- Tamaño de fuente mayor -->
                        <div class="mt-4">
                            {% if error_message %}
                                <div class="alert alert-danger" role="alert">
                                    Ha ocurrido un problema: {{ error_message }}
                                </div>
                            {% endif %}
                        
                            {% if Ruta %}
                                <label class="d-block mb-2">Precio Óptimo para cliente:</label>
                                <div class="table-container mb-4">
                                    <table class="table table-striped">
                                        <thead class="thead-light">
                                            <tr>
                                                <th>Iteración</th>
                                                <th>Valor</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for punto in Ruta %}
                                                <tr>
                                                    <td>{{ forloop.counter }}</td> 
                                                    <td>{{ punto.valor }}</td>
                                                </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            {% endif %}
                        </div>
                        
                    </details>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
