{% extends "pages/base.html" %}
{% block titulo %}Polinomios Newton{% endblock %}

{% block contenido %}
<div class="container">
    <div class="row">
        <div class="m-3">
            <h5>Encuentra el Precio Ideal para Satisfacer a tus Clientes</h5>
            <p>Utiliza nuestra herramienta de interpolación para identificar el precio óptimo que maximiza la satisfacción de tus clientes basándote en los datos que ingreses.</p>
           
            <div class="mb-3">
                <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}" id="csrfmiddlewaretoken">
                <input class="form form-row" type="file" name="listaclientes" id="listaclientes" alt="Importar clientes" accept=".xls, .xlsx" >
                <br>
                <button type="button" class="btn btn-success" onclick="uploadExcel()">
                    Importar EXCEL
                </button>

                <button type="button" class="btn btn-success" onclick="clearclients()">
                    Limpiar
                </button>

                <a href="{% url 'SavePolinomioNewton' %}" class="btn btn-primary ml-2">Realizar Análisis de datos</a>
               
                {% if tabla %}
                <button type="button" class="btn btn-success" data-toggle="modal" data-target="#modalRequest">
                    Ver Resultados Análisis 
                </button>
                {% endif %}
            </div>

            {% if lista_cliente %}
                <div class="table-responsive">
                    <table id="clientesTable" class="table table-striped">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Cliente</th>
                                <th>Precio</th>
                                <th>Nivel de Satisfacción</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for cliente in lista_cliente %}
                                <tr>
                                    <td>{{ cliente.id }}</td>
                                    <td>{{ cliente.nombre_cliente }}</td>
                                    <td>{{ cliente.precio }}</td>
                                    <td>{{ cliente.satisfaccion_cliente }}</td>
                                    <td>
                                        <button 
                                            type="button" 
                                            class="btn btn-success" 
                                            data-toggle="modal" 
                                            data-target="#modalEditar{{ cliente.id }}" 
                                            data-id="{{ cliente.id }}" 
                                            data-nombre="{{ cliente.nombre_cliente }}" 
                                            data-precio="{{ cliente.precio }}" 
                                            data-satisfaccion="{{ cliente.satisfaccion_cliente }}"
                                        >
                                            Detalle
                                        </button>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            {% else %}
                <p>No hay clientes disponibles.</p>
            {% endif %}
        </div>
    </div>
</div>

<!-- Modal Editar Cliente -->
{% for cliente in lista_cliente %}
<div id="modalEditar{{ cliente.id }}" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header bg-light">
                <h5 class="modal-title" style="color: black;">Editar Cliente</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" style="color: black;">
                <form method="POST">
                    {% csrf_token %}
                    <input type="hidden" id="editId{{ cliente.id }}" name="editId">
                    
                    <div class="form-group">
                        <label for="editPrecio{{ cliente.id }}">Precios Ofrecidos:</label>
                        <input type="text" id="editPrecio{{ cliente.id }}" name="Precio" class="form-control" placeholder="10.1" required>
                        <small class="form-text text-muted">Introduce los precios de los que estás interesado.</small>
                    </div>

                    <div class="form-group">
                        <label for="editSatisfaccion{{ cliente.id }}">Satisfacción del Cliente en cada Precio:</label>
                        <input type="text" id="editSatisfaccion{{ cliente.id }}" name="Satisfaccion" class="form-control" placeholder="5.1" required>
                        <small class="form-text text-muted">Introduce el nivel de satisfacción del cliente correspondiente a cada precio.</small>
                    </div>

                    <div class="form-group">
                        <label for="editNombreCliente{{ cliente.id }}">Nombre del Cliente Asociado:</label>
                        <input type="text" id="editNombreCliente{{ cliente.id }}" name="NombreCliente" class="form-control" placeholder="Nombre" required>
                        <small class="form-text text-muted">Introduce el nombre del cliente.</small>
                    </div>
                    <button type="submit" class="btn btn-primary">Actualizar Cliente</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endfor %}

<!-- Modal Agregar Cliente -->
<div id="modalAgregar" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header bg-light">
                <h5 class="modal-title" style="color: black;">Agregar Cliente</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" style="color: black;">
                <form method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="nombreCliente">Nombre del Cliente:</label>
                        <input type="text" id="nombreCliente" name="nombre_cliente" class="form-control" placeholder="Nombre del Cliente" required>
                    </div>
                    <div class="form-group">
                        <label for="precio">Precio:</label>
                        <input type="number" step="0.01" id="precio" name="precio" class="form-control" placeholder="Precio" required>
                    </div>
                    <div class="form-group">
                        <label for="satisfaccionCliente">Satisfacción del Cliente:</label>
                        <input type="number" step="0.1" id="satisfaccionCliente" name="satisfaccion_cliente" class="form-control" placeholder="Satisfacción del Cliente" required>
                    </div>
                    <button type="submit" class="btn btn-primary">Agregar Cliente</button>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Modal Ver Resultados Análisis -->
<div id="modalRequest" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header bg-light">
                <h5 class="modal-title" style="color: black; font-size: 1.5rem;">Análisis</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" style="color: black; font-size: 1.1rem;">
                <div class="detalle-analisis">
                    <details>
                        <summary style="font-size: 1.3rem; font-weight: bold;">Resultados</summary>
                        <div class="mt-4">
                            {% if tabla %}
                                <label class="d-block mb-2">Tabla de Diferencias Divididas:</label>
                                <div class="table-responsive mb-4">
                                    <table class="table table-striped">
                                        <thead class="thead-light">
                                            <tr>
                                                {% with tabla|first as first_row %}
                                                    {% for value in first_row %}
                                                        <th>D{{ forloop.counter0 }}</th>
                                                    {% endfor %}
                                                {% endwith %}
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for row in tabla %}
                                                <tr>
                                                    {% for value in row %}
                                                        <td>{{ value }}</td>
                                                    {% endfor %}
                                                </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                                {% if precio_optimo and max_satisfaccion %}
                                <div class="mt-4">
                                    <p><strong>Precio Óptimo:</strong> {{ precio_optimo }}</p>
                                    <p><strong>Satisfacción Máxima:</strong> {{ max_satisfaccion }}</p>
                                </div>
                                {% else %}
                                <p>No se han calculado los resultados aún.</p>
                                {% endif %}
                            {% else %}
                                <p>No se han generado resultados aún.</p>
                            {% endif %}
                        </div>
                    </details>

                    <details>
                        <summary style="font-size: 1.3rem; font-weight: bold;">Gráfica</summary>
                        <div class="mt-4">
                            <div class="img-container">
                                <img src="data:image/png;base64,{{ imagen_grafico }}" alt="Gráfico del Polinomio Interpolador" class="img-fluid">
                            </div>
                        </div>
                    </details>
                    
                    <!-- Tabla de Operaciones -->
                    <details>
                        <summary style="font-size: 1.3rem; font-weight: bold;">Operaciones Realizadas</summary>
                        <div class="mt-4">
                            {% if operaciones %}
                                <label class="d-block mb-2">Operaciones Realizadas:</label>
                                <div class="table-responsive mb-4">
                                    <table class="table table-striped">
                                        <thead class="thead-light">
                                            <tr>
                                                <th>Iteración</th>
                                                <th>Operación</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for operacion in operaciones %}
                                                <tr>
                                                    <td>{{ forloop.counter }}</td>
                                                    <td>{{ operacion }}</td>
                                                </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            {% else %}
                                <p>No se han realizado operaciones aún.</p>
                            {% endif %}
                        </div>
                    </details>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>



<script>
    async function uploadExcel() {
        const URL = "/uploadclientspolinomio";
        const fileInput = document.getElementById('listaclientes');
        const file = fileInput.files[0]; // Get the selected file
        const csrfmiddlewaretoken = document.getElementById('csrfmiddlewaretoken');

        if (!file) {
            alert('Por favor seleccione un archivo de hoja de cálculo (EXCEL)');
            return;
        }

        const formData = new FormData();
        formData.append('listaclientes', file);
        formData.append('csrfmiddlewaretoken', csrfmiddlewaretoken.value)

        fetch(URL, { // Replace with your server endpoint
            method: 'POST',
            body: formData,
        })
        .then(response => {
            if (response.ok) {
                return response.json();
            } else {
                throw new Error('No se ha logrado cargar el archivo, por favor revisar.');
            }
        })
        .then(data => {
            console.log(data.message);
            alert(data.message);
            window.location.href = "ShowPolinomioNewton";

        })
        .catch(error => {
            console.error('Error uploading file:', error);
            alert('Error uploading file');
        });

    }

    async function clearclients() {
        const URL = '/cleanclientsplinomio'
        fetch(URL).
        then(response => {
            if (response.ok) {
                return response.json();
            } else {
                throw new Error('No se ha logrado cargar el archivo, por favor revisar.');
            }
        })
        .then(data => {
            console.log(data.message);
            alert(data.message);
            window.location.href = "ShowPolinomioNewton";
        })
        .catch(error => {
            console.error('Error al limpiar datos:', error);
            alert('Error al limpiar datos');
        });
    }

</script>

{% endblock %}
