{% extends "pages/base.html" %}
{% block titulo %}Bisección{% endblock %}

{% block contenido %}
<div class="btn-group">
    <button class="btn btn-success"><i class="fas fa-plus icon"></i> Crear Nuevo proyecto</button>
    <button class="btn btn-primary"><i class="fas fa-plus icon"></i> Evaluar Empresa</button>
    <button class="btn btn-info"><i class="fas fa-eye icon"></i> Ver Reportes</button>
</div>
<p>Aquí va el contenido sobre sistemas de numeración.</p>
<div class="card chart">
    <canvas id="myChart"></canvas>
</div>

{% endblock %}      




