{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block titulo %}{% endblock %}</title>
    <!-- Stylesheets -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@10/dist/sweetalert2.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/buttons/2.0.1/css/buttons.dataTables.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.3.0/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'admin/css/app.css' %}">
</head>
<body>
    <div class="container">
        <div class="sidebar">
            <h2><i class="fas fa-list icon"></i> Menú de informes</h2>
            <ul>
                <li><a href="{% url 'Index' %}"><i class="fas fa-home icon"></i> Inicio</a></li>
                <li><a href="{% url 'ShowNewtonRaphson' %}"><i class="fas fa-user icon"></i> Optimización del tiempo de respuesta al cliente - Newton Raphson</a></li>
                <li><a href="{% url 'ShowSecante' %}"><i class="fas fa-clock icon"></i> Precio óptimo para obtener el mejor ROI en las ventas - Secante</a></li>
                <li><a href="{% url 'ShowPolinomioNewton' %}"><i class="fas fa-headset icon"></i> Precio óptimo con mejor satisfacción del cliente - Polinomios de Newton</a></li>
                <li><a href="{% url 'langrange' %}"><i class="fas fa-smile icon"></i> Proyección de satisfacción al cliente - Lagrange</a></li>
                <li><a href="{% static 'Manual_Usuario_v1.pdf' %}"><i class="fas fa-book icon"></i> Manual de usuario</a></li>
            </ul>
        </div>
        <div class="main-content">
            <div class="header">
                <h1>Generador de informes</h1>
            </div>
            <div class="content" style="display: flex; justify-content: center; align-items: center;">
                {% block contenido %}{% endblock %}        
            </div>
            <div class="footer">
                <p>Todos los derechos reservados © 2024 | UTN</p>
                <p><a href="{% static 'Manual_Usuario_v1.pdf' %}" style="color: white;"><i class="fas fa-book icon"></i> Descargar Manual de usuario</a></p>
            </div>
        </div>
    </div>
    <footer>
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.12.4/dist/sweetalert2.all.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
        <script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
        <script src="https://cdn.datatables.net/buttons/2.0.1/js/dataTables.buttons.min.js"></script>
        <script src="https://cdn.datatables.net/buttons/2.0.1/js/buttons.flash.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
        <script src="https://cdn.datatables.net/buttons/2.0.1/js/buttons.html5.min.js"></script>
        <script src="https://cdn.datatables.net/buttons/2.0.1/js/buttons.print.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        <script src="https://www.desmos.com/api/v1.6/calculator.js?apiKey=dcb31709b452b1cf9dc26972add0fda6"></script>
        <script src="{% static 'Charts/chartsNewtonR.js' %}"></script>
        <script src="{% static 'js/datatables.js' %}"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

        {% if plot_image %}
        <script>
            Swal.fire({
                title: 'Análisis Completado!',
                text: 'El análisis se realizó con éxito. Puedes ver los resultados haciendo clic en "Ver Resultados Análisis".',
                icon: 'success',
                confirmButtonText: 'Ok'
            });
        </script>
        {% endif %}

        <script>
            $(document).ready(function() {
                $('#clientesTable').DataTable({
                    paging: true,
                    searching: true,
                    ordering: true,
                    info: true,
                    lengthChange: true,
                    pageLength: 5,
                    dom: 'Bfrip',
                    buttons: ['copy', 'excel', 'csv', 'pdf', 'print'],
                    scrollX: true
                });
            });
        </script>
    </footer>
</body>
</html>
