{% extends "pages/base.html" %}
{% block titulo %}Método de la Secante{% endblock %}

{% block contenido %}
<div class="card">
    <div class="card-header"><h5>Calcular temperatura real utilizando el método de la secante</h5></div>
    <div class="card-body">
        <p>Ingrese los valores necesarios</p>
        {% if error_message %}
        <div class="alert alert-danger" role="alert">
            Ha ocurrido un problema: {{ error_message }}
        </div>
        {% endif %}
       
        {% if resultado is not None %}
        <label>Resultado:</label>
       <h5>La temperatura real calibrada es: {{ resultado }}°C en {{ iteraciones|length }} iteraciones </h5> 
        <br>
        
        <label>Iteraciones:</label>
        <ul class="lista-con-scroll" style="color: white;">
            {% for iteracion in iteraciones %}
            <li> {{ iteracion.1 }}</li>
            {% endfor %}
        </ul>
        <br>
        {% elif iteraciones is not None %}
        <label>Resultado:</label>
        <ul class="lista-con-scroll" id="miLista" style="color: white;">
            <li>No se encontró la temperatura real después de {{ iteraciones|length }} iteraciones</li>
        </ul>
        <br>
        {% endif %}
        
        <form method="post" action="{% url 'SaveSecante' %}">
            {% csrf_token %}
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="x0">Aproximación inicial x0:</label>
                    <input type="text" class="form-control" id="x0" name="x0" value="{{ form.x0.value }}" required>
                </div>
                <div class="form-group col-md-6">
                    <label for="x1">Aproximación inicial x1:</label>
                    <input type="text" class="form-control" id="x1" name="x1" value="{{ form.x1.value }}" required>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="tol">Tolerancia:</label>
                    <input type="text" class="form-control" id="tol" name="tol" required>
                </div>
                <div class="form-group col-md-6">
                    <label for="max_iter">Iteraciones máximas:</label>
                    <input type="text" class="form-control" id="max_iter" name="max_iter" required>
                </div>
            </div>
        
            <button type="submit" class="btn btn-primary">Calcular</button>
        </form>
    </div>
</div>
{% endblock %}
