{% extends "pages/base.html" %}
{% block titulo %}Informe de soporte técnico usuarios finales{% endblock %}

{% block contenido %}
<div class="card">
    <div class="card-header">
        <p>Generación de informe de soporte técnico a clientes, este informe utiliza un algoritmo basado en Newton
            Raphson para el procesamiento de los datos que se ingresan.
        </p>
    </div>
    <div class="card-body">

        {% if error_message %}
        <div class="alert alert-danger" role="alert">
            Ha ocurrido un problema al procesar tu información: {{error_message}}
        </div>
        {% endif %}
        
        <p>Para elaborar este informe se requiere de los siguientes datos:</p>
        {% if ruta_punto_optimo %}
        <label>Precio óptimo:</label>
        <ul class="lista-con-scroll" id="miLista" style="color: white;">
            {% for punto in ruta_punto_optimo %}
            <li> {{ punto }}</li>
            {% endfor %}
        </ul>
        <br>
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalGrafico">Ver
            Gráfico
        </button>
        <br>
        <div id="modalGrafico" class="modal fade" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" style="color: black;"> <img
                                src="https://i0.wp.com/static2.mbtfiles.co.uk/media/docs/newdocs/as_and_a_level/maths/core_and_pure_mathematics/908942/html/images/image05.png"
                                width="300px;" height="100px;" alt="" srcset=""> .. X= {{ultimo_valor}}</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body" style="display: flex; justify-content: center; align-items: center;">
                        <div id="calculator" style="width: 600px; height: 400px;"></div>

                    </div>
                </div>
            </div>
        </div>
        <br>
        {% endif %}


        <form method="post" action="{% url 'SaveNewtonRaphson' %}">
            {% csrf_token %}
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="precio">Precio(x):</label>
                    <input type="text" class="form-control" id="precio" name="precio" required>
                </div>
                <div class="form-group col-md-6">
                    <label for="costo">Costo :</label>
                    <input type="text" class="form-control" id="costo" name="costo" required>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="cantidad_maxima_demandada"> Cantidad maxima demandada:</label>
                    <input type="text" class="form-control" id="cantidad_maxima_demandada"
                        name="cantidad_maxima_demandada" required>
                </div>
                <div class="form-group col-md-6">
                    <label for="tasa_cambio_demanda_precio">Tasa de cambio demanda precio:</label>
                    <input type="text" class="form-control" id="tasa_cambio_demanda_precio"
                        name="tasa_cambio_demanda_precio" required>
                </div>
            </div>

            <button type="submit" class="btn btn-primary">Realizar cálculo</button>
        </form>
    </div>
</div>
{% endblock %}